body{
	margin: 0;
	padding: 0;
}

.banner{
	width: 100%;
}

.nav{
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 0;
	overflow: hidden;
}

.nav-item{
	display: inline-block;
	list-style-type: none;
	font-size: 20px;
}



.nav-item a{
	text-decoration: none;
	color: inherit;
	display: block;
	padding: 20px 40px;
}

.nav-item a:hover{
	color: #ff1493;
}

.active{
	color: #ff1493;
}


main{

}


h1{
	font-size: 50px;
}
section{
	/*background: rgb(209, 252, 252);*/
	padding: 25px;
}


.img:hover{
	filter: grayscale(100%);
}

h1{
	text-align: center;
}

.grid-container{
	text-align: center;
	width: 60%;
	padding: 20px;
	margin: 0px auto;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(5, min-content);
	grid-gap: 50px;
	justify-content: space-around;

}


.img{
	max-width: 100px;
	height: 100px;
	border-radius: 50%;
}
