
@media screen and (min-width: 768px){
	
	.item-thumbnail{
		padding: 0;
		display: block;
		width: 175px;
		height: 175px;
	}
	
	.grid-container{
		padding: 25px;
		display: grid;
		justify-content: center;
		grid-column-gap: 150px;
		grid-row-gap: 75px;
		grid-template-columns: repeat(2, 200px);
	}
	
}


@media screen and (min-width: 1024px){
	
	.header-main{
		position: relative;
	}
	
	
	.logo{
		width: 680px;
	}
	
	
	.menu-button{
		display: none;
	}
	
	
	.top-nav{
	}
	
	
	.nav-item{
		display: inline-block;
	}
	
	
	.search{
		display: block;
		position: absolute;
		right: 0; 
		background: #fff;
		border: solid 2px #5b4998;
		border-radius: 15px;
		margin: 45px;
		padding: 5px 15px;
	}
	
	
	.search-button{
		color: #5b4998;
		cursor: pointer;
	}

	
	.search-button:hover{
	
	}	
	
	
	.grid-container{
		grid-template-columns: repeat(3, 200px);
	}
	
	
	.item-thumbnail{
		cursor: pointer;
	}
	
	
	.item-description{
		display: none;
		bottom: 0%;
		left: 25%;
		background: #fff;
		border: solid 5px #5b4998;
		color: #5b4998;
		border-radius: 10px;
		margin: 10px;
		padding: 20px;
		position: fixed;
	}
	

	.item-thumbnail:hover ~ .item-description{
		display: block;
	}
	
}