


@media screen and (min-width: 425px){
	.item-thumbnail{
		width: 200px;
		height: 200px;
	}
	
	.logo{
		width: 425px;
	}
	
}



@media screen and (min-width: 768px){
	
	
	.logo{
		width: 600px;
	}
	
	.item-thumbnail{
		margin: 0 auto;
		width: 175px;
		height: 175px;
	}
	
	
	.section-text{
		width: 650px;
		text-align: left;
		margin: 20px auto;
	}
	
	.grid-container{
		padding: 25px;
		display: grid;
		justify-content: center;
		grid-column-gap: 150px;
		grid-row-gap: 75px;
		grid-template-columns: repeat(2, 200px);
	}
	
		
}



@media screen and (min-width: 1024px){
	
	.header-main{
		position: relative;
	}
	
	
	.logo{
		width: 680px;
	}
	
	
	.menu-button{
		display: none;
	}
	
	
	.nav-top{
		overflow: hidden;
	}
	
	
	.nav-item{
		display: inline-block;
	}
	
	
	.search{
		display: block;
		position: absolute;
		right: 0; 
		background: #fff;
		border: solid 2px #5b4998;
		border-radius: 15px;
		margin: 45px;
		padding: 5px 15px;
	}
	
	
	.search-button{
		color: #5b4998;
		cursor: pointer;
	}
	
	.i{
		color: #5b4998;
		cursor: pointer;
		display: inline-block;
		padding: 10px 40px;
	}
	
	
	.grid-container{
		grid-template-columns: repeat(3, 200px);
	}
	
	
	.grid-columns-four{
		grid-template-columns: repeat(4, 150px);
		grid-column-gap: 50px;
		grid-row-gap: 50px;		
	}
	
	
	
	.grid-columns-four .item-thumbnail{
		width: 125px;
		height: 125px;
	}
	
	
	.item-title{
		font-size: 18px;
	}
	
	
	.item-thumbnail{
		cursor: pointer;
	}
	
	
	.item-description{
		display: none;
		bottom: 0%;
		left: 25%;
		background: #fff;
		border: solid 5px #5b4998;
		color: #5b4998;
		border-radius: 10px;
		margin: 10px;
		padding: 20px;
		position: fixed;
	}
	

	.item-thumbnail:hover ~ .item-description{
		display: block;
	}
	
	

		
	#example2{
		margin: 25px auto;
		padding: 0px;
		background: #fff;
		width: 850px;
		border-radius: 200px 10px 10px 200px;
		overflow: auto;
		/*margin-left: 80px;*/
	}

	#example3{
		margin: 25px auto;
		padding: 0px;
		background: #fff;
		width: 850px;
		border-radius: 10px 200px 200px 10px;
		overflow: auto;
		/*margin-left: 80px;*/
	}
	
	.image{
	}


	.Hoofd_tekst{ 
		display: inline-block;
		width: 35%;
		padding: 0;
		margin: 0 auto;
		color: #5b4998;
	}
	
	.Hoofd_tekst p{
		margin: 0;
	}
	
	
}