body{
	margin: 0;
	padding: 0;
}


.main-header{
	text-align: center;
	border-bottom: solid purple;
}


.logo{
	margin: 10px;
}

.top-nav{
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 0;
	overflow: hidden;
}

.nav-item{
	display: inline-block;
	list-style-type: none;
	font-size: 20px;
}



.nav-item a{
	text-decoration: none;
	color: #3b295c;
	display: block;
	padding: 20px 40px;
}

.nav-item img{
	width: 50px;
	cursor: pointer;
}

.nav-item a:hover{
	color: #ff1493;
}

.active a{
	color: #ff1493;
}



section{
	/*background: rgb(209, 252, 252);*/
	padding: 25px;
}


h1{
	text-align: center;
	font-size: 45px;
	color: #3b295c;
}

.grid-container{
	text-align: center;
	width: 60%;
	padding: 20px;
	margin: 0px auto;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(6, min-content);
	grid-gap: 50px;
	justify-content: center;
}


.thumbnail{
	max-width: 100px;
	height: 100px;
	border: 20px solid indigo;
	border-radius: 50%;
}


.clearfix::after{
	content: "";
	display: block;
	clear: both;
}