html, body{
	margin: 0;
	padding: 0;
}


body{
	margin: 0;
	padding: 0;
	font-family: vag;
}


ul, a{
	margin: 0;
	padding: 0;
}




@font-face{
	font-family: vag;
	src: url(VAG_Rounded_Bold.ttf);
}


.header-main{
	margin: 0;
	padding: 0;
}


.logo{
	margin: 0px auto;
	width: 85%;
	display: block;
}


.top-nav{
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 0;
	overflow: hidden;
}

.search{
	position: absolute;
	right: 0; 
	border-radius: 10px;
	margin: 30px; 
}


.menu-button{
	display: block;
	padding: 15px;
	font-size: 25px;
	color: #5b4998;
}



.nav-item{
	font-weight: bold;
	display: none;
	list-style-type: none;
	font-size: 20px;
}


.show{
	display: block;
}


.nav-item a{
	text-decoration: none;
	color: #5b4998;
	display: block;
	padding: 20px 40px;
}


.nav-item a:hover{
	color: #ff1493;
}


.link-active a{
	color: #ff1493;
}


.grid-container{
	padding: 15px;
	margin: 0;
	background: #0e7fa7;
	display: block;
}


.item-title{
	text-align: center;
	color: #fff;
}

.item-thumbnail{
	display: block;
	margin: 20px auto;
	padding: 0;
	width: 80%;
	border-radius: 50%;
	border: solid 1px #fff;
}


.clearfix::after{
	content: "";
	display: block;
	clear: both;
}